<ul>
  <li> Addition: <%= 1+2 %> </li>
  <li> Concatenation: <%= "cow" + "boy" %> </li>
  <li> Time in one  hour: <%= 1.hour.from_now %> </li>
</ul>

<% 3.times do  %>
  Ho! <br/>
<% end %>
Merry Christmas!
<br/>
<br/>
<% 3.times do  -%>
  Ho! <br/>
<% end -%>
Merry Christmas!
<br/>
<br/>

<% 3.downto(1) do |count| -%>
  <%= count %> ...<br />
<% end -%>
Lift off!
<br/>
<br/>
Email <%= h("Ann & bill <frazers@isp.email>") %>

